XmlSchema/src/test/test-resources/external/externalAnnotations.xsd

<schema
        xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:tns="http://soapinterop.org/types"
        xmlns:ext="http://customattrib.org"
        targetNamespace="http://soapinterop.org/types">

    <complexType name="Struct" ext:customAttrib="toplevel:type">
        <sequence>
            <element name="varString" type="xsd:string" ext:customAttrib="inner:element"/>
            <element name="varInt" type="xsd:int" ext:customAttrib="inner:element"/>
            <element name="varFloat" type="xsd:float" ext:customAttrib="inner:element"/>
            <element name="varStruct" type="tns:Struct" ext:customAttrib="inner:element"/>
        </sequence>
    </complexType>

    <element name="attrTest" type="tns:Struct" ext:customAttrib="toplevel:element"/>

</schema>